.footer {
    background-color: #000000;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 0 0 2rem 2rem;
}

.footer-contanier {
    max-width: 1200px;
    padding: 40px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.footer-text {
    font-size: 2rem;
    line-height: 1.33;
    color: #cccccc;
}

.footer-contact {
    margin-top: 65px;
}

.footer-contact li {

    font-weight: bold;
    font-size: 2rem;
    line-height: 1.1;
    color: #ffffff;
    margin-bottom: 30px;

}

.footer-contact li a {

    color: #ffffff;

}



@media (max-width:800px) {

    .footer-contanier {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .footer-contact li {
        font-size: 1.5rem;
    }
}